#actions {
	width: 200px;
	background-color: #CCCC00;
	padding:10px;
}

#actions ul {
	margin: 0;
	padding: 0;
}

#actions ul li {
	list-style: none;
	padding: 5px;
}

.active {
	background-color: #CFFFFF;
}

.hidden {
	display: none;
}